################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WotLK/config/applicationhost.config
/.vs/WotLK/v17/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/gustimationsarosis.github.io/v16/.suo
/.vs/gustimationsarosis.github.io/config/applicationhost.config
/.vs/slnx.sqlite-journal
/TalentImages
/TalentImages - Copy/deathknight/Blood
/.vs/WotLK/v17/workspaceFileList.bin
/.vs/gustimationsarosis.github.io/v17/.suo
